[submodule "external/taptenc"]
	path = external/taptenc
	url = https://github.com/TarikViehmann/taptenc.git
[submodule "src/semantics/readylog/readylog_ecl"]
	path = src/semantics/readylog/readylog_ecl
	url = https://github.com/MASKOR/readylog.git
