Generalization {
	fontName:"Segoe UI";
	roundedBendpointsRadius:20;
	routing:Rectilinear;
	lineColor:#000000
}

Class {
	shadow: true;
}

Association, Generalization, ObjectFlow, Dependency {
	fontName:"Segoe UI";
	roundedBendpointsRadius:20;
	routing:Rectilinear;
	lineColor:#000000
}

